@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 0.5em;
}

body {
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
	color: #000;
}

.container {
	margin: 0 auto;
	width: 100%;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

@media screen and (min-width: 728px) {
	.container {
		width: 728px;
	}
	
}

.topbar {
	background-color: white;
	left: 0;
	padding: 8px 16px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.topbar .container {
	display: flex;
	justify-content: space-between;
}

.topbar__logo {
	display: inline-block;
	height: 35px;
}

.topbar__logo img {
	height: 100%;
}

.topbar__button {
	display: flex;
	justify-content: space-around;
}

.topbar__icon {
	margin: 0 10px;
	font-size: 2.75em;
	
}

.timeline {
	display: flex;
	justify-content: flex-start;
	padding: 16px 0;
}

.user__profile {
	display: flex;
	border-radius: 100%;
	overflow: hidden;
}

.timeline .user__profile {
	width: 78px;
	margin: 0 8px;
	height: 78px;
	justify-content: center;
	align-items: center;
}

.user__img {
	border-radius: 100%;
	overflow: hidden;
	width: 72px;
	height: 72px;
	border: 2px solid #fff;
}

.user__profile img {
	width: 100%;
	height: 100%;
}

.user__profile--up {
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.posts {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 16px;
}

@media screen and (min-width: 728px) {
	.posts {
		padding: 16px 0;
	}
}

.card {
	background: #fff;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;	
}

.card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
}

.user {
	display: flex;
	align-items: center;
}

.user .user__profile {
	width: 40px;
	margin-right: 8px;
	height: 40px;
}

.user .user__name {
	font-size: 1.6em;
}

.card__moreoption {
	font-size: 1.4em;
}

.card__figure {
	width: 100%;
	margin: 0;
	overflow: hidden;
	height: auto;
}

.card__figure img {
	width: 100%;
}

.card__responses {
	width: 100%;
	padding: 4px 0;
	display: flex;
	justify-content: flex-start;
}

.card__response {
	font-size: 2.4em;
	margin: 0 8px;
}

.card__response:last-child {
	margin-left: auto;
	justify-self: flex-end;
}

.card__likes {
	width: 100%;
	background: rgba(0, 0, 0, 0.05);
	padding: 8px;
}

.card__likes .user {
	display: flex;

}

.card__likes .user__profile {
	width: 30px;
	height: 30px;
	margin-right: 8px;
}